<h1>Detail Page for Guest: <font color = "blue"> <%= @guest.name %> </font> </h1>
<br>
<p>Guest Occupation: <%= @guest.occupation.capitalize %> </p>
<br>
<%= link_to "Back to Guest Index!", guests_path %>