<h1>All Episodes</h1>

<ul>
  <% @episodes.each do |episode| %>
    <li><%= link_to "Episode #{episode.number} - #{episode.date.strftime("%B %d, %Y")}", episode %></li>
  <% end %>
</ul><br>
<%= link_to "Add an Appearance", new_appearance_path %>

