<h1> <%= @episodes.number %> </h1>
<h3> Name: <%= @episodes.number %> </h3>

<ul>
<% @episodes.number.each do |number| %> 
    <li> <%= episodes.number %> </li>    
<% end %>
</ul>


<%= link_to "Go Back!", episodes_path %>